.carousel-container {
    overflow: hidden;
    width: 100%;
    margin: 1rem 0;
}

.carousel-images {
    /* 画像横並び */
    display: flex;
    gap: 10px;
}

.carousel-image {
    cursor: pointer;
    object-fit: cover;
    width: 300px;
    /* 画像の幅を固定 */
    height: auto;
    /* 高さを自動調整 */
    flex-shrink: 0;
    /* 画像が縮小されないように */
    margin: 0 auto;
    /* 各画像を中央に揃える */
}

.carousel-image:hover {
    filter: brightness(0.9);
    /* 明るさを調整してハイライト効果 */
}