@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.blink {
    animation: blink 2s infinite;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 画像スライドインアニメーション */
.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
}
