.message {
    padding: 10px;
    width: 300px;
}
.active {
    background: teal;
    color: white;
}

.frame {
    padding: 10px;
    width: 300px;
    border: 5px solid darkgray;
}

.menu {
    margin-top: 10px;
    padding: 20px;
    background:darkcyan;
}

.menu a {
    padding: 10px;
    border: 1px solid darkcyan;
    color: white;
    text-decoration: none;
}