.message {
    padding: 10px;
    width: 300px;
}

.active {
    background: rgb(5, 139, 139);
    color: white;
}

.frame {
    padding: 10px;
    width: 300px;
    border: 5px solid darkgray;
}

.menu {
    margin-top: 10px;
    padding: 20px;
    background: darkcyan;
}

.menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.fadein {
    position: absolute;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: fadein;
}

.submenu {
    margin: 0;
    padding: 10px;
    width: 300px;
    display: none;
    list-style: none;
    background: rgb(5, 139, 139);
}

.submenu li {
    padding: 10px;
}

.show {
    display: block;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}