a {
    color: #58aeed;
    text-decoration: none;
}

.profile-image {
    padding: 0 5px;
    margin: 0;
}

.profile-image img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.tweet-nav img {
    width: 14px;
    height: 14px;
}