.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    background-color: white;
}

.carousel-images {
    display: flex;
    width: max-content;
}

.carousel-image {
    display: inline-block;
    border-radius: 30px;
    margin: 0 10px;
    width: 50%;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
}

.carousel-image:hover {
    filter: brightness(0.9); /* 明るさを調整してハイライト効果 */
}